/* Stylesheet for HueHub */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


h1{font-size: 40px; font-weight: bold;} h2{font-size: 32px; font-weight: bold;} h3{font-size: 24px;font-weight: bold;}

body {
    font-family: 'satoshi', arial, sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: #1e1e1e;
    padding: 10px 80px;
    height: auto;
    z-index: 1;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
    width: 100%;
    background-color: #FEFEFE;
    color: #1e1e1e;
    margin-top: 80px;
}

.intro {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    padding: 2.5rem 0rem 2rem;
    width: 100%;
}

.sub-head {
    font-size: 24px;
    font-weight: 600;
}

.season {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    gap: 2rem;
    padding: 32px 0;
}

article {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    gap: 0.75rem;
}

article p {
    font-size: 1.125rem;
    font-weight: 600;
}

.cards {
    display: flex;
    flex-direction: row wrap;
    gap: 1.5rem;
    justify-content: flex-start;
    width: 100%;
}

.clr-card {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    background-color: #FEFEFE;
    border-radius: 1rem;
    border: 2px solid #1e1e1e;
    padding: 1rem 0.5rem 0.5rem;
    width: 100%;
    min-width: 200px;
}

.color {
    display: flex;
    padding: 0.5rem;
    align-content: flex-start;
    align-items: end;
    height: 3.75rem;
    font-weight: 500;
    color: #fefefe;
}

.palette {
    display: flex;
    flex-flow: column wrap;
    width: auto;
    border-radius: 12px;
    overflow: hidden;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    color: #fefefe;
    background-color: #1e1e1e;
}